.team-section {
  background-color: #f5f4fa;
}
.team-primary-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-border {
  border: 1px solid transparent;
  border-top: none;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }
}

.social-list-icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-func);
  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: #ffffff;
  }
}
@media screen and (max-width: 767px) {
  .team__picture-img {
    width: 100%;
    height: 460px;
  }
  .team-card {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team__picture-img {
    width: 354px;
    height: 374px;
  }

  .team-card {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__picture-img {
    width: 270px;
    height: 260px;
  }
  .team-primary-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .team-card {
    flex-basis: calc((100% - 90px) / 4);
  }
}
